services:
  # common nginx-gateway to have single public https-entrypoint for all services
  gateway:
    image: ghcr.io/kneu-messenger-pigeon/gateway:main
    restart: always
    networks:
      - pigeon
    ports:
      - "${LISTEN_HTTP:-28080}:80"
      - "${LISTEN_HTTPS:-28443}:443"
    environment:
        - SSL_FOLDER
    volumes:
      - type: bind
        source: ${SSL_VOLUME_PATH:-./ssl}
        target: ${SSL_VOLUME_PATH:-/ssl}
        read_only: true

    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      authorizer:
        condition: service_started


  ### START section - kafka and related ##
  redpanda:
    image: redpandadata/redpanda:latest
    restart: always
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092
    volumes:
      - redpanda_data:/var/lib/redpanda/data
    networks:
      - pigeon
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9644/v1/status/ready"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s

  init-kafka:
    image: ghcr.io/kneu-messenger-pigeon/init-kafka:main
    networks:
      - pigeon
    environment:
      - KAFKA_HOST=redpanda:9092
      - START_TIMEOUT=4s
      # must be greater then services.kafka.healthcheck.interval (don't exit container until healthcheck done for Kafka service)
      - FINISH_TIMEOUT=0s
    restart: on-failure
    depends_on:
      redpanda:
        condition: service_started

  redpanda-console:
    image: redpandadata/console:latest
    environment:
      - KAFKA_BROKERS=redpanda:9092
    restart: always
    ports:
      - "${LISTEN_KAFKA_UI:-127.0.0.1:8892}:8080"
    depends_on:
      - redpanda
    networks:
      - pigeon
  ### END section - kafka and related ##

  ### START Pigeon microservices ###

  secondary-db-watcher:
    image: ghcr.io/kneu-messenger-pigeon/secondary-db-watcher:main
    restart: always
    volumes:
      - "secondary-db-watcher-storage:/storage"
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - PAUSE_AFTER_SUCCESS=600
      - PAUSE_AFTER_ERROR=60
      - ERROR_COUNT_TO_BREAK=3
      - SECONDARY_DEKANAT_DB_DSN=${SECONDARY_DEKANAT_DB_DSN}
    depends_on:
      redpanda:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ### START section - secondary db importer ###
  secondary-db-disciplines-importer:
    image: ghcr.io/kneu-messenger-pigeon/secondary-db-disciplines-importer:main
    restart: always
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - SECONDARY_DEKANAT_DB_DSN=${SECONDARY_DEKANAT_DB_DSN}
    depends_on:
      redpanda:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  secondary-db-lessons-importer:
    image: ghcr.io/kneu-messenger-pigeon/secondary-db-lessons-importer:main
    restart: always
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - SECONDARY_DEKANAT_DB_DSN=${SECONDARY_DEKANAT_DB_DSN}
    depends_on:
      redpanda:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  secondary-db-scores-importer:
    image: ghcr.io/kneu-messenger-pigeon/secondary-db-scores-importer:main
    restart: always
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - SECONDARY_DEKANAT_DB_DSN=${SECONDARY_DEKANAT_DB_DSN}
    depends_on:
      redpanda:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
  ### END section - secondary db importer ###

  ## Fake line to catch by `build-combined-readme.sh` and put into README.md Microservices
  ## image: ghcr.io/kneu-messenger-pigeon/realtime-capture:main
  realtime-importer:
    image: ghcr.io/kneu-messenger-pigeon/realtime-importer:main
    restart: always
    networks:
      - pigeon
    volumes:
      - "realtime-importer-storage:/storage"
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - PRIMARY_DEKANAT_DB_DSN=${PRIMARY_DEKANAT_DB_DSN}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_SQS_QUEUE_URL=${AWS_SQS_QUEUE_URL}
      - AWS_REGION=${AWS_REGION}
    depends_on:
      redpanda:
        condition: service_healthy

  ### START section - score storage ###
  score-storage-redis:
    image: redis:7.0.11-alpine3.18
    restart: always
    volumes:
      - score-storage-redis:/data
    networks:
      - pigeon
    command:
      redis-server
      --appendonly yes
      --appendfsync everysec
      --save "3600 1000"
      --save "86400 1"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 15s
      timeout: 5s
      retries: 3

  score-storage-writer:
    image: ghcr.io/kneu-messenger-pigeon/storage-writer:main
    restart: always
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - REDIS_DSN=redis://score-storage-redis:6379
    depends_on:
      redpanda:
        condition: service_healthy
      score-storage-redis:
        condition: service_healthy

  score-storage-api:
    image: ghcr.io/kneu-messenger-pigeon/score-storage-api:main
    restart: always
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - REDIS_DSN=redis://score-storage-redis:6379
      - LISTEN=:80
    depends_on:
      score-storage-redis:
        condition: service_healthy
  ### END section - score storage ###

  authorizer:
    image: ghcr.io/kneu-messenger-pigeon/authorizer:main
    restart: always
    networks:
      - pigeon
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - LISTEN=:80
      - AUTHORIZER_PUBLIC_URL=${PUBLIC_URL}/authorizer
      - KNEU_CLIENT_ID=${KNEU_CLIENT_ID}
      - KNEU_CLIENT_SECRET=${KNEU_CLIENT_SECRET}
      - APP_SECRET=${APP_SECRET}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - AUTH_STATE_LIFETIME=${AUTH_STATE_LIFETIME}
    depends_on:
      redpanda:
        condition: service_healthy


  ### START section - telegram app ###
  telegram-app-redis:
    image: redis:7.0.11-alpine3.18
    restart: always
    volumes:
      - telegram-app-redis:/data
    networks:
      - pigeon
    command:
      redis-server
      --appendonly yes
      --appendfsync everysec
      --save "3600 100"
      --save "86400 1"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 15s
      timeout: 5s
      retries: 3

  telegram-app:
    image: ghcr.io/kneu-messenger-pigeon/telegram-app:main
    restart: always
    networks:
      - pigeon
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
#      - INFISICAL_TOKEN=$INFISICAL_TOKEN
      - KAFKA_HOST=redpanda:9092
      - REDIS_DSN=redis://telegram-app-redis:6379
      - SCORE_STORAGE_API_HOST=http://score-storage-api
      - AUTHORIZER_HOST=http://authorizer
      - COMMIT_THRESHOLD=1000
      - APP_SECRET=${APP_SECRET}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TIMEFRAME_TO_COMBINE_REPEAT_SCORE_CHANGES=${TIMEFRAME_TO_COMBINE_REPEAT_SCORE_CHANGES}
      - WAITING_FOR_ANOTHER_SCORE_TIME=${WAITING_FOR_ANOTHER_SCORE_TIME}
    depends_on:
      redpanda:
        condition: service_healthy
      telegram-app-redis:
        condition: service_healthy
  ### END section - telegram app ###

  ### END Pigeon microservices ###

  ### START section - utilities ###

  victoria-metrics:
    image: victoriametrics/victoria-metrics:latest
    restart: always
    networks:
      - pigeon
    volumes:
      - victoria-metrics-data:/victoria-metrics-data
    ports:
      - "${VICTORIA_METRICS_PORT:-127.0.0.1:8428}:8428"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=3", "--spider", "http://127.0.0.1:8428/-/healthy"]
      interval: 10s
      timeout: 3s
      retries: 2
      start_period: 5s


  healthcheck-pinger:
    image: ghcr.io/kneu-messenger-pigeon/healthcheck-pinger:main
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
      - HEALTHCHECK_PING_URL=${HEALTHCHECK_PING_URL}
      - INTERVAL=60
      - IGNORE_SERVICES=init-kafka
      - ERROR_THRESHOLD=2
    depends_on:
      gateway:
        condition: service_healthy
      redpanda:
        condition: service_healthy
      authorizer:
        condition: service_healthy

  rclone:
    image: rclone/rclone:1.64.0
    restart: always
    networks:
      - pigeon
    volumes:
      - type: volume
        source: telegram-app-redis
        target: /data/telegram-app-redis
        read_only: true

      - type: volume
        source: score-storage-redis
        target: /data/score-storage-redis
        read_only: true

    environment:
      RCLONE_CONFIG_GDRIVE_TYPE: drive
      RCLONE_CONFIG_GDRIVE_SCOPE: drive
      RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE: /account.json
      RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE_CONTENTS: ${RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE_CONTENTS}
      RCLONE_CONFIG_GDRIVE_CLIENT_ID: ${RCLONE_CONFIG_GDRIVE_CLIENT_ID}
      RCLONE_CONFIG_GDRIVE_ROOT_FOLDER_ID: ${RCLONE_CONFIG_GDRIVE_ROOT_FOLDER_ID}
    stop_signal: SIGKILL
    entrypoint: ["sh", "-c"]
    command:
      - |
        which redis-cli || apk add --no-cache redis;
        echo "$${RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE_CONTENTS}" > "$${RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE}";
        while true; do
          redis-cli -h telegram-app-redis BGSAVE
          redis-cli -h score-storage-redis BGSAVE
          sleep 10
          rclone copy -v . gdrive: --exclude="*.incr.aof"
          wget --no-verbose --tries=3 --spider "${HEALTHCHECK_BACKUP_PING_URL}/$?"
          sleep 12h
        done

  ### END section - utilities ###

volumes:
  redpanda_data:
    driver: local

  secondary-db-watcher-storage:
    driver: local

  realtime-importer-storage:
    driver: local

  score-storage-redis:
    driver: local

  telegram-app-redis:
    driver: local

  victoria-metrics-data:
    driver: local

networks:
  pigeon:
    driver: bridge
